<style type="text/css">
</style>
<script type="text/javascript">
	function ini() {
		$.fpLoaded();
		$("#test-link").attr("href","/Test-DragAndDrop?subjectId="+subject);
	}
</script>
<div class="page-container">
	<div class="test-guide-container">
		<!-- <img src="./images/blue-logo.png" alt=""> -->
		<div class="guide-content-container">
			<h3 class="test-title">Drag And Drop</h3>
			<p>Now imagine you are organizing your folders. You will need to drag the folder icon from the window on the left hand side, and drag the icon one by one into the target folder on the right hand side.</p>
			<p>After finish dragging all the files to the target folder, repeat the same task from right to left. Now click OK to start this test once you are ready.</p>
			<p>Click <strong>Start</strong> to start this test.</p>
		</div>
		<div class="test-control-container">
			<a id="test-link" class="test-control-link" href="">Start</a>
		</div>
	</div>
</div>
