<!DOCTYPE html>
<html>

<head>
  <title>End Of Experiment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/simplelineicon.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <style type="text/css">
    body {
      overflow: hidden;
      max-width: 100vw;
      max-height: 100vh;
      padding: 0px;
      margin: 0px;
      background: #D9d9d9;
    }

    #thank-you {
      position: absolute;
      top: 50%;
      left: 50%;
      /* width: 100%; */
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.8);
      padding: 30px;
      border-radius: 10px;
    }

    #thank-you div {
      line-height: 36px;
    }

    .icon-check {
      color: #3cc47c;
      font-size: 50px;
      line-height: 90px !important;
    }
  </style>
</head>

<body>
  <!-- <div class="page-background" style="background-image:url(./images/background/finish.jpg);">
    <div class="page-background-cover"></div>
  </div> -->
  <div id="thank-you">
    <div class="icon-check"></div>
    <div class="h4">Congratulation!</div>
    <div class="h5"> You have finished all the tests.</div>
    <div class="h5"> Thank you for your time and effort.</div>
  </div>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script type="text/javascript">
  </script>
</body>

</html>
