<style type="text/css">
</style>
<script type="text/javascript">
  function ini() {
    $.fpLoaded();
    $("#test-link").attr("href", "/Test-Typing?subjectId=" + subject);
  }
</script>
<div class="page-container">
  <div class="test-guide-container">
    <!-- <img src="./images/blue-logo.png" alt=""> -->
    <div class="guide-content-container">
      <h3 class="test-title">Typing</h3>
      <p>Image you are now writing an article. Please typing in the assigned article into the document. The capital,
        mark and numbers should all be the same as the original copy. Please type with your normal typing speed.</p>
      <p>*Soft reminder: Please use external mouse instead of touchpad to move the cursor if needed.</p>
      <p>Now click <strong>Start</strong> to start this test once you are ready.</p>
    </div>
    <div class="test-control-container">
      <a id="test-link" class="test-control-link" href="">Start</a>
    </div>
  </div>
</div>