<!DOCTYPE html>
<html>

<head>
  <title>TP 2.0</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style type="text/css">
    .page-container {
      background-image: url("/images/no-ie-bg.jpg") !important;
      height: 100vh;
      background-position: center !important;
      background-size: cover !important;
    }

    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
    }
  </style>
  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->
  <style type="text/css">
  </style>
</head>

<body>
  <div class="page-container">
    <div class="container">
      <div class="h4 text-white">
        Sorry, we don't support this browser, please change to Chrome
      </div>
      <div class="h4 text-white">
        Or download it from <a href="https://www.google.com/chrome/" target="_blank">Here</a>.
      </div>
    </div>
  </div>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/jquery-ui.js"></script>
  <script src="/js/dependencies/popper.js"></script>
  <script src="/js/dependencies/bootstrap.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {
      //msieversion();
    });
  </script>
</body>

</html>
