<!DOCTYPE html>
<html>

<head>
  <title>Login - TP Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <style type="text/css">
    .page-container {
      background: #f8eee7;
    }

    .full-screen-container {
      position: relative;
      height: 100vh;
      width: 100vw;
      display: block;
    }

    .login-container {
      position: absolute;
      left: 50%;
      top: 40%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
      background: rgba(255, 255, 255, 0.95);
      padding: 20px 30px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 10px 0 #999999;
      -moz-box-shadow: 0 0 10px 0 #999999;
      box-shadow: 0 0 10px 0 #999999;
    }

    .login-container.active {
      opacity: 1;
    }

    #login-brand-img {
      width: 60px;
      margin: 20px 0px;
    }

    #login-title {
      font-size: 28px;
      letter-spacing: 5px;
      font-weight: 200;
    }

    #login-box {
      border: 0px;
      border-radius: 6px 6px 0px 0px;
      text-align: -webkit-center;
      text-align: center;
    }



    #login-btn {
      padding: 4px 0px;
      color: #AAA;
      border: 1px solid #AAA;
      cursor: pointer;
      text-align: -webkit-center;
      text-align: center;
      font-size: 18px;
      font-weight: 200;
      padding: 10px 15px;
      margin: 16px 0px;
      width: 400px;
      background-color: rgba(255, 255, 255, 0);
      display: block;
      position: relative;
    }

    #login-btn:disabled {}

    .login-input {
      font-size: 18px;
      font-weight: 200;
      padding: 10px 15px;
      margin: 16px 0px;
      width: 400px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ddd;
      display: block;
    }

    .login-input.error {
      border: 1px solid #C30;
    }

    #login-btn .login-text {}

    #login-btn .login-loading {
      width: 30px;
      text-align: -webkit-center;
      text-align: center;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(0%, -50%);
    }

    #login-btn:disabled .login-loading {
      opacity: 1;
    }



    input:-webkit-autofill {
      background-color: #fff !important;
      color: #fff !important;
    }

    #login-error-text {
      color: #C30;
      font-size: 15px;
      letter-spacing: 2px;
      display: none;
    }

    #find-pwd-btn {
      border: none;
      color: blue;
      text-decoration: underline;
    }

    #find-pwd-popup {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      background: rgba(200, 200, 200, 0.9);
      width: 100vw;
      height: 100vh;
    }

    #find-pwd-popup-content {
      background: #FFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
    }

    #find-pwd-email-input {
      font-size: 18px;
      font-weight: 200;
      padding: 10px 15px;
      margin: 16px 0px;
      width: 400px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ddd;
      display: block;
    }

    #send-me-email-btn {
      padding: 4px 0px;
      color: #555;
      border: 1px solid #AAA;
      cursor: pointer;
      text-align: -webkit-center;
      text-align: center;
      font-size: 18px;
      font-weight: 200;
      padding: 10px 15px;
      margin: 16px 0px;
      width: 400px;
      background-color: rgba(255, 255, 255, 0);
      display: block;
      position: relative;
    }

    #email-send-info {
      width: 400px;
    }

    #close-popup-btn {
      float: right;
      border: none;
    }
  </style>
</head>

<body>
  <!-- <div class="page-background" style="background-image:url(./images/background/manager-login.jpg);">
    <div class="page-background-cover"></div>
  </div> -->
  <div class="page-container">
    <div class="full-screen-container">
      <div class="login-container">
        <img id="login-brand-img" src="./images/blue-logo.png" alt="">
        <p id="login-title">TouchPad Experiment</p>
        <form action="/" method="POST" id="login-box" autocomplete>
          <input type="email" id="login-email" class="login-input" placeholder="Email">
          <input type="password" id="login-pwd" class="login-input" placeholder="Passwords">
          <button id="login-btn" type="submit" form="login-box">
            <span class="login-text">Sign In</span>
            <img class="login-loading" src="./images/loading.gif">
          </button>
          <div id="login-error-text">
            Wrong Email or Password!
            <button id="find-pwd-btn">Find your password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="find-pwd-popup">
    <div id="find-pwd-popup-content">
      <label>Plaese enter your Email.</label>
      <button id="close-popup-btn">CLOSE</button>
      <input id="find-pwd-email-input" type="input" placeholder="Email">
      <button id="send-me-email-btn">Send me the password.</button>
      <div id="email-send-info"></div>
    </div>
  </div>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script type="text/javascript">
    function msieversion() {
      var ua = window.navigator.userAgent;
      var msie = ua.indexOf("MSIE ");
      if (msie > 0) // If Internet Explorer, return version number
      {
        //alert(parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))));
        console.log("IE");
        window.location.replace("http://stackoverflow.com");
      } else // If another browser, return 0
      {
        //alert('otherbrowser');
        console.log("Not IE");
      }
      return false;
    }
    $(document).ready(function() {
      msieversion();
      setTimeout(function() {
        $(".login-container").addClass("active");
      }, 800);

      function login() {
        var error = false;
        $("#login-box .login-input").removeClass("error");
        $("#login-btn").prop("disabled", true);
        if ($("#login-email").val() == null || $("#login-email").val() == undefined || $("#login-email").val() == "") {
          $("#login-email").addClass("error");
          error = true;
        }
        if ($("#login-pwd").val() == null || $("#login-pwd").val() == undefined || $("#login-pwd").val() == "") {
          $("#login-pwd").addClass("error");
          error = true;
        }
        if (error) {
          $("#login-btn").prop("disabled", false);
          return false;
        } else {
          $.post("/authManager", {
            Email: $("#login-email").val(),
            Pwd: $("#login-pwd").val()
          }).done(function(response) {
            if (response.error) {
              alert(response);
            } else {
              console.log(response);
              $("#login-btn").prop("disabled", false);
              if (response.auth) {
                window.location = "/";
              } else {
                $("#login-error-text").show();
              }
            }
          });
        }

      }
      $("#login-btn").click(function() {

      });
      $("#login-box").submit(function(event) {
        event.preventDefault();
        login();
      });
      $("#find-pwd-btn").click(function(event) {
        event.preventDefault();
        $("#find-pwd-popup").fadeIn();
        $("#find-pwd-email-input").val($("#login-email").val());
      });
      $("#send-me-email-btn").click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        $("#send-me-email-btn").prop('disabled', true);
        $.get("/findPassword", {
          email: $("#find-pwd-email-input").val()
        }).done(function(data) {
          $("#send-me-email-btn").prop('disabled', false);
          if (data.error) {
            $("#email-send-info").html("Can't find your email, please contact admin to create an account.");
          } else {
            $("#email-send-info").html("We have sent an email with your password to your mail box, please check it.");
          }
        });
      });
      $("#close-popup-btn").click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        $("#find-pwd-popup").fadeOut();
      });
    });
  </script>
</body>

</html>
