<style media="screen">
  .alert-danger {
    margin: 30px auto;
    text-align: center;
    width: 80%;
  }
</style>
<script type="text/javascript">
  function ini() {

  }
</script>
<div class="alert-danger">Sorry, you don't have permission for this page.</div>
